{% extends "base.html" %}
{% block headcontent %}
{% load static %}
<link rel="stylesheet" href="{% static 'nfllinescomp/css/group_detail.css' %}">

{% endblock %}
{% block content %}

<div class="group_detail">
{% if user in group.members.all %}
    <div class="group_detail__left">
        <h5 class="group_detail__left__title">{{group.name | truncatechars:40}}</h5>
        <div class="group_detail__left__details">
            <p class="group_detail__left__details__length">Length: {{group.length}}</p>
            <p class="group_detail__left__details__length">Picks Per Week: {{group.ppw}}</p>
            <p class="group_detail__left__details__length">Players: {{group.members.count}}/{{group.numplayers}}</p>
        </div>
        <div class="group_detail__left__copybox">
            <p class="group_detail__left__copybox__text">Invite url:</p>
            <p class="group_detail__left__copybox__url">nfllinescompetition.com/groups/join/{{group.slug}}/</p>
            <button class="btn group_detail__left__copybox__btn" onclick="copyElementText('group_detail__left__copybox__url')">Copy url</button>
        </div>
    </div>
    <div class="group_detail__right">
        <div class="group_detail__right__makegrouppicks">
            <a class="btn group_detail__right__makegrouppicks__inner" href="{% url 'groups:makepicks' slug=group.slug %}">Make Picks for This Week</a>
        </div>
        <div class="group_detail__right__groupleaderboard">
            <h6 class="group_detail__right__groupleaderboard__title">Leaderboard</h6>
            {% for member in members %}
                <div class="group_detail__right__groupleaderboard__player" onclick=displaygroupmemberpicksleaderboard(id)>
                    <h6 class="group_detail__right__groupleaderboard__player__nameandscore">{{member | truncatechars:20}} {{member.score}}</h6>
                    <div class="group_detail__right__groupleaderboard__player__picks" style="visibility: hidden; opacity: 0; position: absolute;">
                        {% for playerpick in playerpicks %}
                            {% if playerpick.player == member %}
                                <p class="group_detail__right__groupleaderboard__player__picks__text">{{ playerpick.teampicked }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if user == group.owner %}
            <div class="group_detail__right__uple">
                <a href="{% url 'groups:update' slug=group.slug %}" class="btn group_detail__right__uple__update">Update</a>
                <a href="{% url 'groups:leaveconfirm' slug=group.slug %}" class="btn group_detail__right__uple__leave">Leave</a>
            </div>
        {% else %}
        <div class="group_detail__right__uple">
            <a href="{% url 'groups:leaveconfirm' slug=group.slug %}" class="btn group_detail__right__uple__leave">Leave</a>
        </div>
        {% endif %}
    </div>

    <script>
        function copyElementText(classname){
            var text = document.getElementsByClassName(classname)[0].innerText;
            var elem = document.createElement("textarea");
            document.body.appendChild(elem);
            elem.value = text;
            elem.select();
            document.execCommand("copy");
            document.body.removeChild(elem);
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
            var leaderboardmemberpicktoggle=$(".group_detail__right__groupleaderboard__player");
            var i=0;
            $(leaderboardmemberpicktoggle).each(function(index) {
                $(this).attr("id","group_detail__right__groupleaderboard__player"+i);
                i++;
            });
            $('label').each(function(){
                if($(this).text() == 'Teampicked:'){
                    $(this).remove()
                }
            });
        });
    
        function displaygroupmemberpicksleaderboard(id) {
          var x=document.getElementById(id).children[1];
          if (x.style.opacity==0){
                x.style.opacity=1;
                x.style.visibility="visible";
                x.style.position="static";
          } else{
                x.style.opacity=0;
                x.style.visibility="hidden";
                x.style.position="absolute";
          }
        }
    </script>
{% else %}
    <div class="group_detail__left">
        <div class="group_detail__left__jo">
            <a href="{% url 'groups:join' slug=group.slug %}" class="btn group_detail__left__jo__join">Join</a>
        </div>
        <h5 class="group_detail__left__title__outside">{{group.name | truncatechars:40}}</h5>
        <div class="group_detail__left__details">
            <p class="group_detail__left__details__length">Length: {{group.length}}</p>
            <p class="group_detail__left__details__length">Picks Per Week: {{group.ppw}}</p>
            <p class="group_detail__left__details__length">Players: {{group.members.count}}/{{group.numplayers}}</p>
        </div>
        <div class="group_detail__left__description">
            <p class="group_detail__left__description__text">{{ group.description }}</p>
        </div>
    </div>
    <div class="group_detail__right">
        <div class="group_detail__right__groupleaderboard">
            <h6 class="group_detail__right__groupleaderboard__title">Leaderboard</h6>
            {% for member in members %}
                <div class="group_detail__right__groupleaderboard__player">
                    <h6 class="group_detail__right__groupleaderboard__player__nameandscore">{{ member | truncatechars:20 }} {{ member.user.email }}</h6>
                </div>
            {% empty %}
                <h6 class="group_detail__right__groupleaderboard__empty">There Aren't Currently Any Players In This Group</h6>
            {% endfor %}
        </div>
    </div>
{% endif %}
</div>

{% endblock %}

<!-- {% if user in group.members.all %}
    <div class="row">
        <div class="col-6">
            <h1 id="groupdetailheader">{{group.name | truncatechars:40}}</h1>
            <div class="mygroupdetaildetail">
                <h2>Length: {{group.length}}</h2>
                <br>
                <h2>Picks Per Week: {{group.ppw}}</h2>
                <br>
                <h2>Players: {{group.members.count}}/{{group.numplayers}}</h2>
            </div>
            <div class="mygroupdetaildescription">
                <h3>{{group.description}}</h3>
            </div>
            <h4 id="inviteurlintroduction">Invite url:</h4>
            <p id="inviteurl">nfllinescompetition.com/groups/join/{{group.slug}}/</p>
            <div class="copyinviteurlbutton">
                <button id="copyinviteurlbutton" class="btn btn-primary" onclick="copyElementText('inviteurl')">Copy url</button>
            </div>
        </div>
        <div class="col-6">
            <div class="groupmakepicksbutton">
                <a id="grouptomakepickslink" class="btn btn-success" href="{% url 'groups:makepicks' slug=group.slug %}">Make Picks for This Week</a>
            </div>
            <h1 id="groupleaderboardheader">Leaderboard</h1>
            <div class="groupleaderboard">
                {% for member in members %}
                    <div class="leaderboardmemberpicktoggle" onclick=displaygroupmemberpicksleaderboard(id)>
                        <h3 id="groupleaderboardmember">{{member | truncatechars:20}} {{member.score}}</h3>
                        <div id="groupleaderboardmemberpicks" style="visibility: hidden; opacity: 0; position: absolute;">
                            {% for playerpick in playerpicks %}
                                {% if playerpick.player == member %}
                                    <h6>{{ playerpick.teampicked }}</h6>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
                {% if user == group.owner %}
                    <div class="groupdetailupdateandleavelinks">
                        <div class="groupdetailulink">
                            <a id="groupdetailulink" href="{% url 'groups:update' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning">Update</a>
                        </div>
                        <div class="groupdetailllink">
                            <a id="groupdetaillllink" href="{% url 'groups:leaveconfirm' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning">Leave</a>
                        </div>
                    </div>
                {% else %}
                    <div class="groupdetailleave">
                        <a id="groupdetailleavelink" href="{% url 'groups:leaveconfirm' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning">Leave</a>
                    </div>
                {% endif %}
        </div>
    </div>

    <script>
        function copyElementText(id) {
            var text = document.getElementById(id).innerText;
            var elem = document.createElement("textarea");
            document.body.appendChild(elem);
            elem.value = text;
            elem.select();
            document.execCommand("copy");
            document.body.removeChild(elem);
        }
    </script>

{% else %}

    <div class="row">
        <div class="col-6">
            <div class="groupdetailjoin">
                <a id="groupdetailjoinlink" href="{% url 'groups:join' slug=group.slug %}" class="btn btn-lg btn-fill btn-success">Join</a>
            </div>
            <h1 id="groupdetailheader">{{group.name | truncatechars:40 }}</h1>
            <div class="mygroupdetaildetail">
                <h2>Length: {{group.length}}</h2>
                <br>
                <h2>Picks Per Week: {{group.ppw}}</h2>
                <br>
                <h2>Players: {{group.members.count}}/{{group.numplayers}}</h2>
            </div>
            <div class="mygroupdetaildescriptionoutsider">
                <h3>{{group.description}}</h3>
            </div>
        </div>
        <div class="col-6">
            <h1 id="groupleaderboardheaderoutsider">Leaderboard</h1>
            <div class="groupleaderboard">
                {% for member in members %}
                    <h3>{{member}} {{member.email}}</h3>

                    {% empty %}

                    <h2 id="noplayersmessage">There Aren't Currently Any Players In This Group</h2>

                {% endfor %}
            </div>
        </div>
    </div>

{% endif %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function() {
        var leaderboardmemberpicktoggle=$(".leaderboardmemberpicktoggle");
        var i=0;
        $(leaderboardmemberpicktoggle).each(function(index) {
            i++;
            $(this).attr("id","leaderboardmemberpicktoggle"+i);
        });
        $('label').each(function(){
            if($(this).text() == 'Teampicked:'){
                $(this).remove()
            }
        });
    });

    function displaygroupmemberpicksleaderboard(id) {
      var x=document.getElementById(id).children[1];
      console.log(x)
      if (x.style.opacity==0) {
            x.style.opacity=1;
            x.style.visibility="visible";
            x.style.position="static";
      } else {
            x.style.opacity=0;
            x.style.visibility="hidden";
            x.style.position="absolute";
      }
    }
</script> -->