{% extends "base.html" %}
{% block headcontent %}
{% load static %}
<link rel="stylesheet" href="{% static 'nfllinescomp/css/group_form.css' %}">
{% endblock %}

{% block content %}
<div class="group_form">
    <h2 class="group_form__title">Create Your Own Group!</h2>
    <form action="{% url 'groups:create' %}" method="POST" class="group_form__form" autocomplete="off">
        {% csrf_token %}
        {% for field in form %}
            <div class="group_form__form__field">
                <div class="group_form__form__field__errors">
                    {{ field.errors }}
                </div>
                <div class="group_form__form__field__label">
                    {{ field.label }}
                </div>
                <div class="group_form__form__field__input">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <input type="submit" onclick="return formSubmit()" class="btn group_form__form__submit" value="Create">
    </form>
</div>

<script>
    $(document).ready(function(){
        (document.getElementById('id_password').parentElement).style.visibility='hidden';
        // (document.getElementById('id_password').parentElement).style.position='absolute';
        (document.getElementById('id_password').parentElement).style.transition='all .2s';
        (document.getElementById('id_password').parentElement).style.opacity='0';
        (document.getElementById('id_password').parentElement).style.transform='translateY(-5rem)';
        (document.getElementsByClassName('group_form__form__field__label')[2]).style.visibility='hidden';
        // (document.getElementsByClassName('group_form__form__field__label')[2]).style.position='absolute';
        (document.getElementsByClassName('group_form__form__field__label')[2]).style.transition='all .2s';
        (document.getElementsByClassName('group_form__form__field__label')[2]).style.opacity='0';
        (document.getElementsByClassName('group_form__form__field__label')[2]).style.transform='translateY(-5rem)';
        (document.getElementById('id_password').parentElement.parentElement).style.transition='max-height .2s';
        (document.getElementById('id_password').parentElement.parentElement).style.maxHeight='0';
        (document.getElementById('id_password').parentElement.parentElement).style.marginBottom='0';
        (document.getElementById('id_privacy').parentElement.parentElement).style.marginBottom='.5rem';
        (document.getElementsByClassName('group_form__form')[0]).style.maxHeight='150';
        // document.getElementById('id_password').value='a';
        $('#id_privacy').on('change',function(){
            // if(((document.getElementById('id_password').parentElement).style.visibility === 'hidden' && (document.getElementById('id_password').parentElement).style.position === 'absolute') && document.getElementById('id_privacy').children[1].children[0].checked == true){
            if((document.getElementById('id_password').parentElement).style.visibility === 'hidden' && document.getElementById('id_privacy').children[1].children[0].checked == true){
                // document.getElementById('id_password').value='';
                (document.getElementById('id_password').parentElement).style.visibility='visible';
                // (document.getElementById('id_password').parentElement).style.position='static';
                (document.getElementById('id_password').parentElement).style.opacity='1';
                (document.getElementById('id_password').parentElement).style.transform='translateY(-1rem)';
                (document.getElementsByClassName('group_form__form__field__label')[2]).style.visibility='visible';
                // (document.getElementsByClassName('group_form__form__field__label')[2]).style.position='static';
                (document.getElementsByClassName('group_form__form__field__label')[2]).style.opacity='1';
                (document.getElementsByClassName('group_form__form__field__label')[2]).style.transform='translateY(-1rem)';
                (document.getElementById('id_password').parentElement.parentElement).style.maxHeight='8.7rem';
                (document.getElementById('id_password').parentElement.parentElement).style.marginBottom='2rem';
                (document.getElementById('id_privacy').parentElement.parentElement).style.marginBottom='2rem';
                (document.getElementsByClassName('group_form__form')[0]).style.maxHeight='150rem';
            }
            else{
                (document.getElementById('id_password').parentElement).style.visibility='hidden';
                // (document.getElementById('id_password').parentElement).style.position='absolute';
                (document.getElementById('id_password').parentElement).style.opacity='0';
                (document.getElementById('id_password').parentElement).style.transform='translateY(-5rem)';
                (document.getElementsByClassName('group_form__form__field__label')[2]).style.visibility='hidden';
                // (document.getElementsByClassName('group_form__form__field__label')[2]).style.position='absolute';
                (document.getElementsByClassName('group_form__form__field__label')[2]).style.opacity='0';
                (document.getElementsByClassName('group_form__form__field__label')[2]).style.transform='translateY(-5rem)';
                // document.getElementById('id_password').value='a';
                (document.getElementById('id_password').parentElement.parentElement).style.maxHeight='0';
                (document.getElementById('id_password').parentElement.parentElement).style.marginBottom='0';
                (document.getElementById('id_privacy').parentElement.parentElement).style.marginBottom='.5rem';
                (document.getElementsByClassName('group_form__form')[0]).style.maxHeight='150';
            }
        })

        document.getElementsByClassName("group_form__form__submit")[0].addEventListener("click",function(){
            if(document.getElementById('id_privacy_0').checked){
                document.getElementById('id_password').value='a';
            }
        })

        document.getElementById("id_privacy").style.backgroundColor="rgb(236, 236, 236)"
        document.getElementById("id_name").parentElement.style.width="80%"
        document.getElementById("id_password").parentElement.style.width="80%"
        document.getElementById("id_description").parentElement.style.width="80%"
        document.getElementById("id_length").parentElement.previousElementSibling.firstChild.textContent="How many weeks will your group run for? (1-{{ weeksleft|safe }})"
    })

    $(document).ready(function(){
        x = document.getElementById('id_privacy').children[0].children[0].children[0]
        parent = x.parentNode.parentNode
        prev = x.parentNode
        oldChild = x.parentNode.removeChild(x)
        parent.insertBefore(oldChild, prev)

        x = document.getElementById('id_privacy').children[1].children[0].children[0]
        parent = x.parentNode.parentNode
        prev = x.parentNode
        oldChild = x.parentNode.removeChild(x)
        parent.insertBefore(oldChild, prev)

        // x = document.getElementById('id_length').children[0].children[0].children[0]
        // parent = x.parentNode.parentNode
        // prev = x.parentNode
        // oldChild = x.parentNode.removeChild(x)
        // parent.insertBefore(oldChild, prev)

        // x = document.getElementById('id_length').children[1].children[0].children[0]
        // parent = x.parentNode.parentNode
        // prev = x.parentNode
        // oldChild = x.parentNode.removeChild(x)
        // parent.insertBefore(oldChild, prev)

        // for(var i = 0; i < 16; i++){
        //     x = document.getElementById('id_ppw').children[i].children[0].children[0]
        //     parent = x.parentNode.parentNode
        //     prev = x.parentNode
        //     oldChild = x.parentNode.removeChild(x)
        //     parent.insertBefore(oldChild, prev)
        // }

        // for(var i = 0; i < 25; i++){
        //     x = document.getElementById('id_numplayers').children[i].children[0].children[0]
        //     parent = x.parentNode.parentNode
        //     prev = x.parentNode
        //     oldChild = x.parentNode.removeChild(x)
        //     parent.insertBefore(oldChild, prev)
        // }
    })

    function formSubmit(){
        length=document.getElementById("id_length").value
        ppw=document.getElementById("id_ppw").value
        numplayers=document.getElementById("id_numplayers").value
        weeksleft="{{ weeksleft|safe }}"
        if (((length > Number(weeksleft) || ppw > 16) || numplayers > 25) || ((length < 1 || ppw < 1) || numplayers < 1)){
            alert("Please make sure that all of your entries are within the specified ranges")
            return false
        }
        return true
    }
</script>
{% endblock %}