{% extends "base.html" %}
{% block headcontent %}
{% load static %}
<link rel="stylesheet" href="{% static 'nfllinescomp/css/password_group.css' %}">
{% endblock %}
{% block content %}
<div class="password_group">
    {% if group.members.count != 0 %}
    <h6 class="password_group__title">Please Enter the Password of {{group.name}}</h6>
    {% else %}
    <h6 class="password_group__ownertitle">Please Create the Password for {{group.name}} Here</h6>
    {% endif %}
    <form method="POST" class="password_group__form">
        {% csrf_token %}
        {% for field in form %}
            <div class="password_group__form__field">
                <div class="password_group__form__field__errors">
                    {{ field.errors }}
                </div>
                <div class="password_group__form__field__label">
                    {{ field.label }}
                </div>
                <div class="password_group__form__field__input">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <input type="submit" class="btn password_group__form__submit" value="Submit">
    </form>
</div>
{% endblock %}

<!-- {% if group.members.count != 0%}
    <h1>Please Enter the Password of {{group.name}}</h1>
{% else %}
    <h1>Please Create the Password for {{group.name}} Here</h1>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary btn-large" value="Submit">

</form> -->