.password_group {
  grid-row: 1/2;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr)); }
  .password_group__title {
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
    font-size: 6rem;
    margin-top: 6rem; }
  .password_group__ownertitle {
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
    font-size: 6rem;
    margin-top: 6rem; }
  .password_group__form {
    grid-column: 1/-1;
    grid-row: 1/2;
    margin-bottom: 15rem;
    background-color: #ececec;
    padding: 3rem;
    align-self: center;
    justify-self: center;
    display: grid;
    justify-items: center;
    transition: max-height 3s; }
    .password_group__form__field {
      width: 40rem;
      display: grid;
      justify-items: center; }
      .password_group__form__field:not(:last-child) {
        margin-bottom: 2rem; }
      .password_group__form__field__label {
        font-size: 2.5rem;
        text-align: center; }
      .password_group__form__field__label > * {
        font-size: 3rem;
        margin-right: 2rem;
        background-image: linear-gradient(to right, #389D38, #328332);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; }
      .password_group__form__field__input {
        display: inline-block;
        width: 80%; }
      .password_group__form__field__input > * {
        font-size: 2.5rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
        width: 100%;
        display: block;
        transition: all .3s;
        color: #afafaf;
        font-weight: 300; }
        .password_group__form__field__input > *:focus {
          outline: none;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
        .password_group__form__field__input > *::-webkit-input-placeholder {
          color: grey; }
    .password_group__form__submit {
      width: 100%;
      height: 6rem;
      font-size: 3rem; }
