{% extends "base.html" %}
{% block headcontent %}
{% load static %}
<link rel="stylesheet" href="{% static 'nfllinescomp/css/password_reset_confirm_ndf.css' %}">
{% endblock %}

{% block content %}
<div class="password_reset_confirm_ndf">
    <h2 class="password_reset_confirm_ndf__title">Set a new password!</h2>
    <form method="POST" class="password_reset_confirm_ndf__form">
        {% csrf_token %}
        {% for field in form %}
            <div class="password_reset_confirm_ndf__form__field">
                <div class="password_reset_confirm_ndf__form__field__errors">
                    {{ field.errors }}
                </div>
                <div class="password_reset_confirm_ndf__form__field__label">
                    {{ field.label }}:
                </div>
                <div class="password_reset_confirm_ndf__form__field__input">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <input type="submit" class="btn password_reset_confirm_ndf__form__submit" value="Submit">
    </form>
</div>
{% endblock %}









<!-- {% if validlink %}
    <h1>Set a new password!</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Change my password">
    </form>
{% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %} -->