{% extends "base.html" %}
{% block headcontent %}
{% load static %}
<link rel="stylesheet" href="{% static 'nfllinescomp/css/password_reset_form_ndf.css' %}">
{% endblock %}

{% block content %}
<div class="password_reset_form_ndf">
    <h2 class="password_reset_form_ndf__title">Please Enter The Email Address Associated With Your Account Below</h2>
    <form method="POST" class="password_reset_form_ndf__form">
        {% csrf_token %}
        {% for field in form %}
            <div class="password_reset_form_ndf__form__field">
                <div class="password_reset_form_ndf__form__field__errors">
                    {{ field.errors }}
                </div>
                <div class="password_reset_form_ndf__form__field__label">
                    {{ field.label }}:
                </div>
                <div class="password_reset_form_ndf__form__field__input">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <input type="submit" class="btn password_reset_form_ndf__form__submit" value="Submit">
    </form>
</div>
{% endblock %}







<!-- <h1>Please Enter Your New Password Below</h1>
<p>Enter the email address associated with your account to receive instructions for receiving a new one.</p>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form> -->