{% extends "base.html" %}
{% block headcontent %}
{% load static %}
<link rel="stylesheet" href="{% static 'nfllinescomp/css/password_reset_complete_ndf.css' %}">
{% endblock %}

{% block content %}
<div class="password_reset_complete_ndf">
    <h2 class="password_reset_complete_ndf__title">Password reset complete!</h2>
    <p class="password_reset_complete_ndf__description">Your new password has been set. You can log in now on the log in page.</p>
    <a href="{% url 'accounts:login' %}" class="btn password_reset_complete_ndf__link">Log In</a>
</div>
{% endblock %}